body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  height: 100%;
  display: block;
}

footer{
  display: grid;
  padding: 1%;
  background-color: cyan;
}

h1{
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.newsRoot {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 600px;
}

.rm {
  background: rgb(201, 219, 204);
  border-radius: 20%;
  color: rgb(3, 15, 15);
  border: none;
}

.done {
  text-decoration: line-through;
}

.img {
  width: 600px;
}

.newsMini {
  float: right;
  font-size: 40pt;
  margin-right: 100px;
}

.imgMini {
  width: 300px;
  margin-top: 2em;
  margin-bottom: 50px;
  float: left;
}
.post {
  max-width: 600px;
  margin: 10px 0 5px 0;
  padding: 50px 20px 20px 20px;
  background-color: rgb(240, 240, 240);
  border: rgb(255, 255, 255) solid 1px;
}

button {
  background: #addaff;
  border: none;
  margin: 0.5%;
  position: relative;
  letter-spacing: .1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: rgb(39, 39, 39);
}
.buttonInPost{
  margin: 4% 0 0 80%;
}
p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  padding: 5px 10px 5px 10px;
}

.description {
  float: left;
  max-width: 250px;
  float: right;
}

.inputForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin: 0.5rem;
  min-width: 550px;
}

textarea {
  max-width: 550px;
  min-width: 550px;
  min-height: 50px;
}